<mat-toolbar color="basic">
  <mat-toolbar-row>
    <button mat-button color="basic" routerLink="/accueil" routerLinkActive="active">ACCUEIL</button>
    <button mat-button color="warn" routerLink="/jeux" routerLinkActive="active">JEUX</button>
    <button mat-button color="primary">OUTILS</button>
    <button mat-button color="accent" routerLink="/connexion" routerLinkActive="active">CONNEXION</button>
    <button mat-button color="basic" routerLink="/inscription" routerLinkActive="active">INSCRIPTION</button>
  </mat-toolbar-row>
</mat-toolbar>


